html {
  min-height: 100vh;
  background-color: lightslategray;
  animation: shade 20s infinite;
}
@keyframes shade {
  0% {
    background-color: lightslategray;
  }
  20% {
    background-color: rgb(77, 83, 88);
  }
  40% {
    background-color: lightslategray;
  }
  60% {
    background-color: rgb(77, 83, 88);
  }
  80% {
    background-color: lightslategray;
  }
  100% {
    background-color: rgb(77, 83, 88);
  }
  80% {
    background-color: lightslategray;
  }
  60% {
    background-color: rgb(77, 83, 88);
  }
  20% {
    background-color: lightslategray;
  }
  0% {
    background-color: rgb(77, 83, 88);
  }
}
h1 {
  font-family: Impact;
  text-align: center;
}
p {
  font-family: Calibri;
  text-align: center;
}
.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
address {
  font-family: Calibri;
}
