html {
  min-height: 100vh; /*Sets Minimum Height for the Page*/
  background-color: lightslategray; /*Adds Background color*/
  animation: shade 20s infinite; /*Adds shade animation for the background*/
}

.Headers {
  margin-top: 60px; /*Sets the Title 60px lowers so it dosent clip over teh Topbar*/
  color: rgb(26, 26, 26); /*Sets Color for the Title*/
}
body {
  margin: 0; /*Normalizes the body margin*/
}
.maintext {
  display: block;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    rgb(54, 54, 54),
    rgb(83, 83, 83)
  );
  color: white;
  padding: 0.25rem;
  width: 80%;
  margin: auto;
}
.Contents {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  height: 8rem;
  justify-content: space-evenly;
  padding: 0.25rem;
}
.Contents2 {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  flex: wrap;
  justify-content: space-evenly;
  padding: 0.25rem;
}
.List1 {
  background-image: linear-gradient(
    to bottom,
    rgb(54, 54, 54),
    rgb(83, 83, 83)
  );
  color: white;
  display: block;
  text-align: center;
  margin: 0%;
  height: 100%;
}
.List2 {
  background-image: linear-gradient(
    to bottom,
    rgb(54, 54, 54),
    rgb(83, 83, 83)
  );
  color: white;
  display: block;
  text-align: center;
  height: 100%;
  margin-right: 40px;
}
.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1 {
  font-family: Impact;
  text-align: center;
}
p {
  font-family: Calibri;
  text-align: center;
}
address {
  font-family: Calibri;
}
.topbar {
  background-color: rgb(54, 54, 54);
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
}
.topbar a {
  float: left;
  color: aqua;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
}
.topbar a:hover {
  opacity: 0.6;
  color: rgb(245, 75, 45);
}
.topbar a.active {
  background-color: aqua;
  color: rgb(54, 54, 54);
}
.email {
  display: block;
  text-align: center;
}
.email a {
  background: rgb(54, 54, 54);
  padding: 0.25rem;
  text-decoration: none;
  color: grey;
}
.email a:hover {
  background: white;
  padding: 0.25rem;
  text-decoration: none;
  color: black;
}
.intro {
  display: block;
  text-align: center;
  padding: 1rem;
  margin-top: 40px;
}
@keyframes shade {
  0% {
    background-color: lightslategray;
  }
  20% {
    background-color: rgb(77, 83, 88);
  }
  40% {
    background-color: lightslategray;
  }
  60% {
    background-color: rgb(77, 83, 88);
  }
  80% {
    background-color: lightslategray;
  }
  100% {
    background-color: rgb(77, 83, 88);
  }
  80% {
    background-color: lightslategray;
  }
  60% {
    background-color: rgb(77, 83, 88);
  }
  20% {
    background-color: lightslategray;
  }
  0% {
    background-color: rgb(77, 83, 88);
  }
}
